Camera4/app/build
Camera4/captures
Camera4/.idea/shelf/
Camera4/.idea/workspace.xml
Camera4/.idea/deploymentTargetDropDown.xml
Camera4/.idea/caches
Camera4/.idea/libraries
Camera4/.idea/modules.xml
Camera4/.idea/workspace.xml
Camera4/.idea/navEditor.xml
Camera4/.idea/assetWizardSettings.xml
Camera4/app/src/main/assets/config/config.yaml
Camera4/*.iml
Camera4/.gradle
Camera4/local.properties
Camera4/.externalNativeBuild
Camera4/.cxx
Camera4/local.properties

server/image.jpg

.DS_Store